.input {
    display: block;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    width: 500px;
    font-size: 60px;
    border-radius: 10px;
}

.country {
    list-style: none;
}

li {
    list-style: disc;
}

.country__name {
    text-align: center;
    font-size: 50px;
}

.country_properties {
    font-size: 30px;
}

.country-flag__image {
    height: 400px;
    margin-left: 40px;
}

.country__info {
    display: flex;
    justify-content: center;
}

.country span {
    display: block;
    margin-top: 30px;
}

.languages_list {
    margin-top: 30px;
    padding: 0;
}

.languages-list__item {
    margin-top: 10px;
    margin-left: 30px;
}